<div class="popUp hidden">
    <div class="popUpChild">Are you sure you want to delete your signature?
        <form id="unsignForm" action="/unsign" method="post">
            <button class="yes">Delete</button>
            <button class="no">Cancel</button>
        </form>
    </div>
</div>