<h1>Welcome back</h1>
<section class="form-container">
    <form action="/login" method="post">
    <form action="" method="">
        <label for="email">
            Email Address
            <input required type="text" name="email" />
        </label>
        <label for="pass">
            Password
            <input required type="text" name="pass" />
        </label>
        <button>Log in</button>
    </form>
</section>