<h1>Profile</h1>

<section class="form-container">
    <h3>Can you please tell us a little bit more about yourself?</h3>
    <form action="/profile" method="post">
        <div class="form-fields">
            <label for="age">
                Age
                <input type="text" name="age" />
            </label>
            <label for="city">
                City
                <input type="text" name="city" />
            </label>
            <label for="homepage">
                Homepage
                <input type="text" name="homepage" />
            </label>
        </div>
        <button>Continue</button>
    </form>
</section>