<h1>Profile</h1>

<section class="form-container">
    <form action="/profile_edit" method="post">
        <div class="form-fields">
            <label for="firstName">
                First Name
                <input required type="text" name="firstName" />
            </label>
            <label for="lastName">
                Last Name
                <input required type="text" name="lastName" />
            </label>
            <label for="email">
                Email
                <input required type="text" name="email" />
            </label>
            <label for="pass">
                Password
                <input required type="text" name="password" />
            </label>
            <label for="age">
                Age
                <input type="text" name="age" />
            </label>
            <label for="city">
                City
                <input type="text" name="city" />
            </label>
            <label for="homepage">
                Homepage
                <input type="text" name="homepage" />
            </label>
        </div>
        <button>Save changes</button>
    </form>
</section>