<h1>Sign up</h1>

<section class="form-container">
    <form action="/register" method="post">
        <label for="firstName">
            First Name
            <input required type="text" name="firstName" />
        </label>
        <label for="lastName">
            Last Name
            <input required type="text" name="lastName" />
        </label>
        <label for="email">
            Email
            <input required type="text" name="email" />
        </label>
        <label for="pass">
            Password
            <input required type="text" name="password" />
        </label>
        <button>Continue</button>
    </form>
    <p>If you are already a member, please <a href="/login">log in</a></p>
</section>