<h1>Thank you!</h1>

<section class="thanks-container">
    <p>Thanks for taking the time to sign.</p>
    <img src="{{signature}}" alt="signature" />
    <p><a href="/signers">{{count}} other berliners have signed</a></p>
</section>